  <div class ="main-header">
    <div class ="left-header">
      <div class="groop-name">
        ワザップジョルノ
      </div>
    </div>
    <div class ="right-header">
      <div class ="end-chat">
        <a href ="#">チャットを終了する</a>
      </div>
    </div>
  </div>

  <div class ="main-content">
    <div class ="message">
      <div class ="upper-message">
        <div class ="message-user">
          ワザップジョルノ
        </div>
        <div class ="message-date">
          2334/3/34(homo) 3:34:33
        </div>
      </div>
      <div class ="lower-message">
        <div class ="message-content">
          あなたを詐欺罪と器物損壊罪で訴えます
        </div>
      </div>
    </div>
    <div class ="message">
      <div class ="upper-message">
        <div class ="message-user">
          ワザップジョルノ
        </div>
        <div class ="message-date">
          2334/3/34(homo) 3:34:33
        </div>
      </div>
      <div class ="lower-message">
        <div class ="message-content">
          理由はもちろんおわかりですね
        </div>
      </div>
    </div>
  </div>

  <div class ="chat-form">
    <div class ="form-input">
      <input class ="message-box" placeholder ="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input class ="send" type ="submit" value ="送信">
  </div>