  <div class ="side-header">
    <div class ="header-name">
    <a href="#">アレックス</a>
    </div>
    <div class ="create-room">
    <a href="#">チャットを作成する</a>
    </div>
  </div>

  <div class ="chat-name">
  </div>