  <div class ="side-header">
    <div class ="header-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class ="create-room">
    <a href="#">チャットを作成する</a>
    </div>
  </div>

  <div class ="chat-names">
    <div class ="chat-name">
      <div class ="room-name">
        <a href="#">役割論理</a>
      </div>
    </div>
    <div class ="chat-name">
      <div class ="room-name">
        <a href="#">育成論</a>
      </div>
    </div>
  </div>